// Import all the variables into the main css file.
@import "variables";

// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";


// @aokstudio for @redgrey

body { background: #e6e6e6; padding: 0; margin: 0; overflow: hidden; } 

#logo {
	text-indent: -9999px;
	position: fixed; 
	display: block; 
	width: 200px; 
	height: 35px; 
	background: url(../img/logo.png); 
	background-image: url(../img/logo.svg), none;
	top: 5%;
	left: 4%;
	z-index: 9999;
}

#splash  { 
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/splash.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}